body {
  margin: 10px 0 0 0;
  color: rgb(185 0 0);
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
label {
  cursor: pointer;
}
.button {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ee4621 0%,
    #ff6161 51%,
    #f02c05 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 750px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: linear-gradient(
    0deg,
    rgba(198, 255, 221, 1) 0%,
    rgba(251, 215, 134, 1) 50%,
    rgba(247, 121, 125, 1) 100%
  );
  border-radius: 20px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 15px 20px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: rgb(185 0 0);
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input {
  width: 100%;
  color: rgb(185 0 0);
  display: block;
}
.login-form .group .input {
  font-family: "Open Sans", sans-serif;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgb(255 255 255 / 37%);
}
.login-form .group .input:focus-visible {
  outline: 1px solid #fff;
}
.login-form .group.invalid .input:focus-visible {
  outline: 1px solid rgb(255, 0, 0);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: rgb(185 0 0);
  font-size: 12px;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: rgb(185 0 0);
}
.login-form .group .check:checked + label .icon {
  background: rgb(185 0 0);
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}
.group.invalid .input {
  outline: 1px solid rgb(255, 0, 0);
}
.group.invalid .message {
  color: #f33a58;
}
.message {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2rem;
  padding: 4px 0 0;
  height: 30px;
  margin: 0;
}
.hr {
  height: 2px;
  margin: 30px 0 30px 0;
  background: rgb(255 0 0 / 46%);
}
.foot-lnk {
  text-align: center;
}
.jst-material-input-file {
  position: relative;
  display: flex;
  width: 100%;
}
.file-upload {
  margin: 0 10px 0 25px;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 22px;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  color: rgb(255, 255, 255);
  background-color: #1161ee;
}
.mdl-button {
  background: 0 0;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #000;
  position: relative;
  margin: 0;
  min-width: 115px;
  padding: 4px 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
a,
.mdl-accordion,
.mdl-button,
.mdl-card,
.mdl-checkbox,
.mdl-dropdown-menu,
.mdl-icon-toggle,
.mdl-item,
.mdl-radio,
.mdl-slider,
.mdl-switch,
.mdl-tabs__tab {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#fileuploadurl {
  border: none;
  font-size: 12px;
  width: 100%;
  padding-left: 10px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
